<ion-content padding>
  <button ion-button color="primary" menuToggle>Toggle Menu</button>
  <form [formGroup]="formData" (ngSubmit)="submitForm()">
    <ion-item *ngFor='let item of userFields'>
      <ion-label *ngIf="item.type !== 'checkbox';" color="primary" stacked>{{ item.label }}</ion-label>
      <ion-input formControlName="{{ item.name }}" *ngIf="item.type !== 'checkbox'; else checkBox" type="{{ item.type }}" placeholder="{{ item.placeholder }}" required></ion-input>

      <ng-template #checkBox>
        <ion-label color="primary">{{ item.placeholder }}</ion-label>
        <ion-checkbox formControlName="{{ item.name }}"></ion-checkbox>
      </ng-template>
    </ion-item>

    <button type="submit" ion-button icon-end float-right block>
        Register
        <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </form>

</ion-content>