.prizeModalA {
    height: 85%;

    ion-backdrop {
        background: none;
        height: 85%;
    }

    .modal-wrapper {
        position: absolute;
        box-shadow: none;
        border-radius: 100%;
        width: 235px;
        height: 235px;
        left: 98px;
        top: 164px;
        transform: none;

        .content {
            background: none;
        }
    }
}

.prizeModalB {
    height: 85%;

    ion-backdrop {
        background: none;
        height: 85%;
    }

    .modal-wrapper {
        position: absolute;
        box-shadow: none;
        border-radius: 100%;
        width: 235px;
        height: 235px;
        left: 630px;
        top: 164px;
        transform: none;

        .content {
            background: none;
        }
    }
}