<ion-content class="game">
    <vinyl (touchend)="getPrize('prizeModalA')" (touchstart)=playScratch() (mouseup)="getPrize('prizeModalA')" class="vinylA" #vinylA></vinyl>
    <vinyl (touchend)="getPrize('prizeModalB')" (touchstart)=playScratch() (mouseup)="getPrize('prizeModalB')" class="vinylB" #vinylB></vinyl>
    <div *ngIf="prizeName != ''" class="thank-you-element" [ngClass]="{'active': prizeReceived === true, 'inactive': prizeReceived === false}">
        <p *ngIf="prizeName != 'try-again'">Congratulations! You won the <span><strong>{{ prizeName }}</strong></span></p>
        <button ion-button medium (click)="gotoPage('start')">Next</button>
    </div>
</ion-content>