page-prize-list {
    .prize-list {
        background-color: map-get($colors, dark);
    }

    .prize-card {
        padding: 1.1rem;

        h2 {
            font-weight: bold;
        }
        ion-input {
            margin-top: 10px;
            color: map-get($colors, semi-light);
            outline: 1px solid map-get($colors, dark);
        }
        small {
            color: map-get($colors, secondary);
        }
    }
}
